body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addStarButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.star{
  border:2px;
  border-style: solid;
  border-color: white;
  border-radius:2px;
  position:absolute;
}
.tiefighter{
  position:absolute;
}
.falcon{
  position:absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
